{% block header %}
    <h3>Bienvenid@ {{ app.user.username }}</h3>
    <a href="{{ path('familias') }}">Listado de familias</a>
    <a href="{{ path('cesta') }}">Cesta</a>
    <a href="{{ path('pedidos') }}">Ver pedidos</a>
    <a href="#">Logout</a>
{% endblock %}