{% extends 'base.html.twig' %}

{% block title %}Listado de familia{% endblock %}

{% block contenido %}

    <div class="container">       
        <ul class="list-group">
            {% for valor in familias %}

                <li class="list-group-item">
                    <a href="{{path('productos',{'id_familia':valor.getId() }) }}">
                        {{valor.getNombre() }}</a>
                </li>


            {% endfor %}
        </ul></div> 
    {% endblock %}
