{% extends 'base.html.twig' %}

{% block title %}Pedido{% endblock %}

{% block contenido %}

        {% if error is null %}
           <p>Pedido número {{ cod_pedido }}  realizado con éxito.</p>
        {% else %}
            <p>No se pudo realizar el pedido. Error código {{ error }} </p>
        {% endif %}
    
    
{% endblock %}